<h2>Home :)</h2>

{{ vm.title }}

<div class="col-sm-4">

    <button class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-log-in"></span> Sign in
    </button>

</div>

<table class="table table-striped table-hover table-bordered table-condensed">

    <thead>
        <tr>
            <th>Image</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="target in vm.targets">
            <td>
                <img width="80" ng-src="api/target/getimage/{{target.id}}" alt="NA" />
            </td>
            <td>{{target.description}}</td>
        </tr>
    </tbody>

</table>