<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=3371476081575694"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=63451476081575694"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=70671476081575694"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=44571476081575694"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=78161476081575694"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=11271476081575695"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=39621476081575725"></script>
    <script src="vendor/scripts/jquery.js?c=69221476081575725"></script>
    <script src="vendor/scripts/angular-animate.js?c=19461476081575725"></script>
    <script src="vendor/scripts/angular-cookies.js?c=74431476081575725"></script>
    <script src="vendor/scripts/angular-filter.js?c=76061476081575725"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=18551476081575725"></script>
    <script src="vendor/scripts/angular-messages.js?c=51901476081575725"></script>
    <script src="vendor/scripts/angular-resource.js?c=74501476081575725"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=50521476081575725"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=74441476081575725"></script>
    <script src="vendor/scripts/angular-touch.js?c=67141476081575725"></script>
    <script src="vendor/scripts/angular-translate.js?c=85751476081575725"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=97711476081575725"></script>
    <script src="vendor/scripts/bootstrap.js?c=38731476081575725"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=53741476081575725"></script>
    <script src="vendor/scripts/dialogs.js?c=69091476081575725"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=12371476081575725"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=55521476081575725"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/layout.module.js?c=67871476081575727"></script>
    <script src="scripts/ShellController.js?c=31101476081575727"></script>
    <script src="scripts/core.module.js?c=49991476081575727"></script>
    <script src="scripts/RouteConfig.js?c=15981476081575727"></script>
    <script src="scripts/planner.module.js?c=5151476081575727"></script>
    <script src="scripts/PlannerController.js?c=1021476081575727"></script>
    <script src="scripts/home.module.js?c=14101476081575727"></script>
    <script src="scripts/HomeController.js?c=97381476081575727"></script>
    <script src="scripts/FourOFourController.js?c=49001476081575727"></script>
    <script src="scripts/ErrorController.js?c=79181476081575727"></script>
    <script src="scripts/domain.helpers.js?c=281476081575727"></script>
    <script src="scripts/DataService.js?c=28901476081575727"></script>
    <script src="scripts/app.module.js?c=87181476081575727"></script>
    <!-- endinject -->

</body>


</html>
