<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=28371476912313956"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=28711476912313956"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=38501476912313956"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=97971476912313956"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=20171476912313956"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=20221476912313957"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=79181476912313995"></script>
    <script src="vendor/scripts/jquery.js?c=37341476912313995"></script>
    <script src="vendor/scripts/angular-animate.js?c=75531476912313995"></script>
    <script src="vendor/scripts/angular-cookies.js?c=34311476912313995"></script>
    <script src="vendor/scripts/angular-filter.js?c=64011476912313995"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=65891476912313995"></script>
    <script src="vendor/scripts/angular-messages.js?c=5921476912313995"></script>
    <script src="vendor/scripts/angular-resource.js?c=98051476912313995"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=24341476912313995"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=64451476912313995"></script>
    <script src="vendor/scripts/angular-touch.js?c=24051476912313995"></script>
    <script src="vendor/scripts/angular-translate.js?c=55521476912313995"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=16071476912313995"></script>
    <script src="vendor/scripts/bootstrap.js?c=2351476912313995"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=7211476912313995"></script>
    <script src="vendor/scripts/dialogs.js?c=65431476912313995"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=44231476912313995"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=86601476912313995"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=15371476912313996"></script>
    <script src="scripts/WaitModalController.js?c=48141476912313997"></script>
    <script src="scripts/planner.module.js?c=67591476912313997"></script>
    <script src="scripts/StationPlannerController.js?c=94441476912313997"></script>
    <script src="scripts/layout.module.js?c=93841476912313997"></script>
    <script src="scripts/ShellController.js?c=99221476912313997"></script>
    <script src="scripts/RouteConfig.js?c=22421476912313997"></script>
    <script src="scripts/NotificationService.js?c=72651476912313997"></script>
    <script src="scripts/home.module.js?c=43331476912313997"></script>
    <script src="scripts/HomeController.js?c=66801476912313997"></script>
    <script src="scripts/FourOFourController.js?c=87081476912313997"></script>
    <script src="scripts/ErrorController.js?c=15251476912313997"></script>
    <script src="scripts/domain.helpers.js?c=92321476912313997"></script>
    <script src="scripts/DataService.js?c=65841476912313997"></script>
    <script src="scripts/ConfirmModalController.js?c=95771476912313997"></script>
    <script src="scripts/app.module.js?c=83471476912313997"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->

</body>


</html>
