<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=6111475765023238"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=90571475765023238"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=62551475765023238"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=25271475765023238"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=54231475765023238"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=86561475765023238"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=20291475765023260"></script>
    <script src="vendor/scripts/jquery.js?c=62981475765023260"></script>
    <script src="vendor/scripts/angular-animate.js?c=46731475765023260"></script>
    <script src="vendor/scripts/angular-cookies.js?c=15001475765023260"></script>
    <script src="vendor/scripts/angular-filter.js?c=24341475765023260"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=69111475765023260"></script>
    <script src="vendor/scripts/angular-messages.js?c=71981475765023260"></script>
    <script src="vendor/scripts/angular-resource.js?c=96051475765023260"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=47301475765023260"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=58411475765023260"></script>
    <script src="vendor/scripts/angular-touch.js?c=56931475765023260"></script>
    <script src="vendor/scripts/angular-translate.js?c=28771475765023260"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=36771475765023260"></script>
    <script src="vendor/scripts/bootstrap.js?c=9891475765023260"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=75221475765023260"></script>
    <script src="vendor/scripts/dialogs.js?c=59361475765023260"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=59361475765023260"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=99971475765023260"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/layout.module.js?c=3661475765023260"></script>
    <script src="scripts/ShellController.js?c=45291475765023260"></script>
    <script src="scripts/domain.helpers.js?c=221475765023260"></script>
    <script src="scripts/core.module.js?c=46621475765023260"></script>
    <script src="scripts/DataService.js?c=34361475765023260"></script>
    <script src="scripts/app.module.js?c=46471475765023260"></script>
    <!-- endinject -->

</body>


</html>
