<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=84051476171841546"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=51601476171841546"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=82791476171841546"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=10901476171841546"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=83091476171841546"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=91971476171841546"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=56841476171841578"></script>
    <script src="vendor/scripts/jquery.js?c=77251476171841578"></script>
    <script src="vendor/scripts/angular-animate.js?c=27781476171841578"></script>
    <script src="vendor/scripts/angular-cookies.js?c=14851476171841578"></script>
    <script src="vendor/scripts/angular-filter.js?c=22991476171841578"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=93801476171841578"></script>
    <script src="vendor/scripts/angular-messages.js?c=26711476171841578"></script>
    <script src="vendor/scripts/angular-resource.js?c=33771476171841578"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=94001476171841578"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=16231476171841578"></script>
    <script src="vendor/scripts/angular-touch.js?c=84181476171841578"></script>
    <script src="vendor/scripts/angular-translate.js?c=91741476171841578"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=2891476171841578"></script>
    <script src="vendor/scripts/bootstrap.js?c=49671476171841578"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=30781476171841578"></script>
    <script src="vendor/scripts/dialogs.js?c=22571476171841578"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=32501476171841578"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=65661476171841578"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=60451476171841578"></script>
    <script src="scripts/WaitModalController.js?c=27531476171841578"></script>
    <script src="scripts/layout.module.js?c=70811476171841578"></script>
    <script src="scripts/ShellController.js?c=65751476171841578"></script>
    <script src="scripts/RouteConfig.js?c=94181476171841578"></script>
    <script src="scripts/planner.module.js?c=16371476171841578"></script>
    <script src="scripts/PlannerController.js?c=70321476171841578"></script>
    <script src="scripts/NotificationService.js?c=76431476171841578"></script>
    <script src="scripts/home.module.js?c=57761476171841578"></script>
    <script src="scripts/HomeController.js?c=89981476171841578"></script>
    <script src="scripts/FourOFourController.js?c=57281476171841578"></script>
    <script src="scripts/ErrorController.js?c=82581476171841578"></script>
    <script src="scripts/domain.helpers.js?c=98391476171841578"></script>
    <script src="scripts/DataService.js?c=53011476171841578"></script>
    <script src="scripts/ConfirmModalController.js?c=52431476171841578"></script>
    <script src="scripts/app.module.js?c=58021476171841578"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->

</body>


</html>
