<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=93421476906915557"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=41841476906915557"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=83631476906915557"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=77141476906915557"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=54311476906915557"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=96501476906915558"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=40901476906915581"></script>
    <script src="vendor/scripts/jquery.js?c=92361476906915581"></script>
    <script src="vendor/scripts/angular-animate.js?c=43221476906915581"></script>
    <script src="vendor/scripts/angular-cookies.js?c=91381476906915581"></script>
    <script src="vendor/scripts/angular-filter.js?c=8931476906915581"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=67981476906915581"></script>
    <script src="vendor/scripts/angular-messages.js?c=26631476906915581"></script>
    <script src="vendor/scripts/angular-resource.js?c=13531476906915581"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=52651476906915581"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=18881476906915581"></script>
    <script src="vendor/scripts/angular-touch.js?c=60451476906915582"></script>
    <script src="vendor/scripts/angular-translate.js?c=77091476906915582"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=40051476906915582"></script>
    <script src="vendor/scripts/bootstrap.js?c=45601476906915582"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=67571476906915582"></script>
    <script src="vendor/scripts/dialogs.js?c=63601476906915582"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=84471476906915582"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=87001476906915582"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=51951476906915589"></script>
    <script src="scripts/WaitModalController.js?c=28741476906915589"></script>
    <script src="scripts/planner.module.js?c=57661476906915589"></script>
    <script src="scripts/StationPlannerController.js?c=61101476906915589"></script>
    <script src="scripts/layout.module.js?c=80191476906915589"></script>
    <script src="scripts/ShellController.js?c=88771476906915589"></script>
    <script src="scripts/RouteConfig.js?c=64221476906915589"></script>
    <script src="scripts/NotificationService.js?c=32511476906915589"></script>
    <script src="scripts/home.module.js?c=42191476906915589"></script>
    <script src="scripts/HomeController.js?c=77081476906915589"></script>
    <script src="scripts/FourOFourController.js?c=32401476906915590"></script>
    <script src="scripts/ErrorController.js?c=2461476906915590"></script>
    <script src="scripts/domain.helpers.js?c=65031476906915590"></script>
    <script src="scripts/DataService.js?c=34881476906915590"></script>
    <script src="scripts/ConfirmModalController.js?c=50461476906915590"></script>
    <script src="scripts/app.module.js?c=8061476906915590"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->

</body>


</html>
