<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=29981476101153562"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=49361476101153563"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=53381476101153563"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=96741476101153563"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=77421476101153563"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=92541476101153564"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=44621476101153590"></script>
    <script src="vendor/scripts/jquery.js?c=37041476101153590"></script>
    <script src="vendor/scripts/angular-animate.js?c=46241476101153590"></script>
    <script src="vendor/scripts/angular-cookies.js?c=66591476101153590"></script>
    <script src="vendor/scripts/angular-filter.js?c=46311476101153590"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=95281476101153590"></script>
    <script src="vendor/scripts/angular-messages.js?c=91861476101153590"></script>
    <script src="vendor/scripts/angular-resource.js?c=51841476101153590"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=59281476101153590"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=39801476101153590"></script>
    <script src="vendor/scripts/angular-touch.js?c=91231476101153590"></script>
    <script src="vendor/scripts/angular-translate.js?c=39361476101153590"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=59221476101153590"></script>
    <script src="vendor/scripts/bootstrap.js?c=45941476101153590"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=35451476101153590"></script>
    <script src="vendor/scripts/dialogs.js?c=7031476101153590"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=55681476101153590"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=72581476101153590"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=14461476101153592"></script>
    <script src="scripts/WaitModalController.js?c=19861476101153592"></script>
    <script src="scripts/layout.module.js?c=67411476101153592"></script>
    <script src="scripts/ShellController.js?c=85271476101153592"></script>
    <script src="scripts/RouteConfig.js?c=21591476101153592"></script>
    <script src="scripts/planner.module.js?c=85041476101153592"></script>
    <script src="scripts/PlannerController.js?c=82241476101153592"></script>
    <script src="scripts/NotificationService.js?c=98451476101153592"></script>
    <script src="scripts/home.module.js?c=80891476101153592"></script>
    <script src="scripts/HomeController.js?c=71851476101153592"></script>
    <script src="scripts/FourOFourController.js?c=60811476101153592"></script>
    <script src="scripts/ErrorController.js?c=56891476101153592"></script>
    <script src="scripts/domain.helpers.js?c=14131476101153592"></script>
    <script src="scripts/DataService.js?c=35481476101153592"></script>
    <script src="scripts/ConfirmModalController.js?c=3541476101153592"></script>
    <script src="scripts/app.module.js?c=71591476101153592"></script>
    <!-- endinject -->

</body>


</html>
