<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=191476451918593"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=5491476451918593"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=59261476451918594"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=24421476451918594"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=74341476451918594"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=44201476451918594"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=38831476451918619"></script>
    <script src="vendor/scripts/jquery.js?c=44741476451918619"></script>
    <script src="vendor/scripts/angular-animate.js?c=95671476451918619"></script>
    <script src="vendor/scripts/angular-cookies.js?c=89411476451918619"></script>
    <script src="vendor/scripts/angular-filter.js?c=33401476451918619"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=70921476451918619"></script>
    <script src="vendor/scripts/angular-messages.js?c=38161476451918619"></script>
    <script src="vendor/scripts/angular-resource.js?c=46991476451918619"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=47581476451918619"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=7051476451918619"></script>
    <script src="vendor/scripts/angular-touch.js?c=34131476451918619"></script>
    <script src="vendor/scripts/angular-translate.js?c=8851476451918619"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=66601476451918619"></script>
    <script src="vendor/scripts/bootstrap.js?c=83631476451918619"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=18891476451918619"></script>
    <script src="vendor/scripts/dialogs.js?c=16581476451918619"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=36161476451918619"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=74381476451918619"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=35221476451918621"></script>
    <script src="scripts/WaitModalController.js?c=60601476451918621"></script>
    <script src="scripts/layout.module.js?c=60261476451918621"></script>
    <script src="scripts/ShellController.js?c=32161476451918621"></script>
    <script src="scripts/RouteConfig.js?c=50991476451918621"></script>
    <script src="scripts/planner.module.js?c=63871476451918621"></script>
    <script src="scripts/PlannerController.js?c=49471476451918621"></script>
    <script src="scripts/NotificationService.js?c=61001476451918621"></script>
    <script src="scripts/home.module.js?c=72221476451918621"></script>
    <script src="scripts/HomeController.js?c=40651476451918621"></script>
    <script src="scripts/FourOFourController.js?c=83821476451918621"></script>
    <script src="scripts/ErrorController.js?c=15771476451918621"></script>
    <script src="scripts/domain.helpers.js?c=55411476451918621"></script>
    <script src="scripts/DataService.js?c=15491476451918621"></script>
    <script src="scripts/ConfirmModalController.js?c=75411476451918621"></script>
    <script src="scripts/app.module.js?c=64921476451918621"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->

</body>


</html>
