<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=50581476860250340"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=41831476860250340"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=71851476860250340"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=77571476860250340"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=54321476860250340"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=79161476860250340"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=61551476860250355"></script>
    <script src="vendor/scripts/jquery.js?c=67101476860250355"></script>
    <script src="vendor/scripts/angular-animate.js?c=11891476860250355"></script>
    <script src="vendor/scripts/angular-cookies.js?c=33801476860250355"></script>
    <script src="vendor/scripts/angular-filter.js?c=85131476860250355"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=18841476860250355"></script>
    <script src="vendor/scripts/angular-messages.js?c=99061476860250355"></script>
    <script src="vendor/scripts/angular-resource.js?c=58041476860250355"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=30831476860250355"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=15291476860250355"></script>
    <script src="vendor/scripts/angular-touch.js?c=74681476860250355"></script>
    <script src="vendor/scripts/angular-translate.js?c=4291476860250355"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=18091476860250355"></script>
    <script src="vendor/scripts/bootstrap.js?c=96131476860250355"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=90591476860250355"></script>
    <script src="vendor/scripts/dialogs.js?c=34921476860250355"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=311476860250371"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=29391476860250371"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=28461476860250371"></script>
    <script src="scripts/WaitModalController.js?c=99361476860250371"></script>
    <script src="scripts/planner.module.js?c=35491476860250371"></script>
    <script src="scripts/StationPlannerController.js?c=47081476860250371"></script>
    <script src="scripts/layout.module.js?c=70031476860250371"></script>
    <script src="scripts/ShellController.js?c=12711476860250371"></script>
    <script src="scripts/RouteConfig.js?c=53311476860250371"></script>
    <script src="scripts/NotificationService.js?c=76151476860250371"></script>
    <script src="scripts/home.module.js?c=53391476860250371"></script>
    <script src="scripts/HomeController.js?c=69181476860250371"></script>
    <script src="scripts/FourOFourController.js?c=62971476860250371"></script>
    <script src="scripts/ErrorController.js?c=40091476860250371"></script>
    <script src="scripts/domain.helpers.js?c=84521476860250371"></script>
    <script src="scripts/DataService.js?c=15931476860250371"></script>
    <script src="scripts/ConfirmModalController.js?c=89301476860250371"></script>
    <script src="scripts/app.module.js?c=93061476860250371"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->

</body>


</html>
