<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=52781475765884304"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=62151475765884304"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=6831475765884304"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=59001475765884304"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=47811475765884304"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=37091475765884304"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=65041475765884335"></script>
    <script src="vendor/scripts/jquery.js?c=74551475765884335"></script>
    <script src="vendor/scripts/angular-animate.js?c=96951475765884335"></script>
    <script src="vendor/scripts/angular-cookies.js?c=24831475765884335"></script>
    <script src="vendor/scripts/angular-filter.js?c=40351475765884335"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=23501475765884335"></script>
    <script src="vendor/scripts/angular-messages.js?c=79641475765884335"></script>
    <script src="vendor/scripts/angular-resource.js?c=74251475765884335"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=63721475765884335"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=22171475765884335"></script>
    <script src="vendor/scripts/angular-touch.js?c=33521475765884335"></script>
    <script src="vendor/scripts/angular-translate.js?c=25831475765884335"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=53041475765884335"></script>
    <script src="vendor/scripts/bootstrap.js?c=37721475765884335"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=73751475765884335"></script>
    <script src="vendor/scripts/dialogs.js?c=28381475765884335"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=80961475765884335"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=641475765884335"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/layout.module.js?c=22131475765884335"></script>
    <script src="scripts/ShellController.js?c=63301475765884335"></script>
    <script src="scripts/core.module.js?c=79691475765884335"></script>
    <script src="scripts/RouteConfig.js?c=48111475765884335"></script>
    <script src="scripts/home.module.js?c=35061475765884335"></script>
    <script src="scripts/HomeController.js?c=92171475765884335"></script>
    <script src="scripts/FourOFourController.js?c=20131475765884335"></script>
    <script src="scripts/ErrorController.js?c=58341475765884335"></script>
    <script src="scripts/domain.helpers.js?c=83921475765884335"></script>
    <script src="scripts/DataService.js?c=81381475765884335"></script>
    <script src="scripts/app.module.js?c=71561475765884335"></script>
    <!-- endinject -->

</body>


</html>
