<!DOCTYPE html>

<html ng-app="app">
<head>

    <script>
        document.write('<base href="' + document.location.href + '" />');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some website</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="vendor/styles/angular-toastr.css?c=24911476829770132"/>
    <link rel="stylesheet" href="vendor/styles/bootstrap.css?c=49611476829770132"/>
    <link rel="stylesheet" href="vendor/styles/dialogs.css?c=81351476829770132"/>
    <link rel="stylesheet" href="vendor/styles/font-awesome.css?c=39401476829770132"/>
    <link rel="stylesheet" href="vendor/styles/jasny-bootstrap.css?c=99311476829770132"/>
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="styles/kaka.css?c=13161476829770133"/>
    <!-- endinject -->

</head>
<body ng-cloak>

    @RenderBody()

    

    <!-- inject:vendor:js -->
    <script src="vendor/scripts/angular.js?c=4801476829770158"></script>
    <script src="vendor/scripts/jquery.js?c=27591476829770158"></script>
    <script src="vendor/scripts/angular-animate.js?c=66011476829770158"></script>
    <script src="vendor/scripts/angular-cookies.js?c=86771476829770158"></script>
    <script src="vendor/scripts/angular-filter.js?c=47641476829770158"></script>
    <script src="vendor/scripts/angular-local-storage.js?c=63431476829770158"></script>
    <script src="vendor/scripts/angular-messages.js?c=97691476829770158"></script>
    <script src="vendor/scripts/angular-resource.js?c=92401476829770158"></script>
    <script src="vendor/scripts/angular-sanitize.js?c=74151476829770158"></script>
    <script src="vendor/scripts/angular-toastr.tpls.js?c=96431476829770158"></script>
    <script src="vendor/scripts/angular-touch.js?c=8341476829770158"></script>
    <script src="vendor/scripts/angular-translate.js?c=39851476829770158"></script>
    <script src="vendor/scripts/angular-ui-router.js?c=95151476829770158"></script>
    <script src="vendor/scripts/bootstrap.js?c=79111476829770158"></script>
    <script src="vendor/scripts/dialogs-default-translations.js?c=37401476829770158"></script>
    <script src="vendor/scripts/dialogs.js?c=48461476829770159"></script>
    <script src="vendor/scripts/jasny-bootstrap.js?c=6111476829770159"></script>
    <script src="vendor/scripts/ui-bootstrap-tpls.js?c=69771476829770159"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/core.module.js?c=86901476829770160"></script>
    <script src="scripts/WaitModalController.js?c=87161476829770160"></script>
    <script src="scripts/planner.module.js?c=86311476829770160"></script>
    <script src="scripts/StationPlannerController.js?c=89931476829770160"></script>
    <script src="scripts/layout.module.js?c=2231476829770160"></script>
    <script src="scripts/ShellController.js?c=19191476829770160"></script>
    <script src="scripts/RouteConfig.js?c=3921476829770160"></script>
    <script src="scripts/NotificationService.js?c=55061476829770160"></script>
    <script src="scripts/home.module.js?c=2031476829770160"></script>
    <script src="scripts/HomeController.js?c=40501476829770160"></script>
    <script src="scripts/FourOFourController.js?c=40871476829770160"></script>
    <script src="scripts/ErrorController.js?c=26731476829770160"></script>
    <script src="scripts/domain.helpers.js?c=49351476829770160"></script>
    <script src="scripts/DataService.js?c=32391476829770160"></script>
    <script src="scripts/ConfirmModalController.js?c=74731476829770161"></script>
    <script src="scripts/app.module.js?c=34341476829770161"></script>
    <!-- endinject -->

    <!-- inject:templates -->
    <!-- endinject -->

</body>


</html>
