<!--<script type="text/ng-template" id="tpl.confirm.html">-->
    <div class="modal-header" ng-show="vm.title">
        <h4 class="modal-title" id="modal-title">{{vm.title}}</h4>
    </div>
    <div class="modal-body" id="modal-body">
        {{vm.message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
<!--</script>-->