<h3>Stationsplanerare</h3>
<div class="row">


    <div class="col-sm-12">

        <button class="btn btn-default btn-sm" ng-click="vm.addStation()">Lägg till station</button>

        <hr />

        <div class="panel panel-default" ng-repeat="station in vm.stations">

            <div class="panel-heading">
                <h4>Station {{ station.number }}</h4>
            </div>

            <div class="panel-body">
                Things
            </div>
           
        </div>

    </div>



    <!--<pre class="well well-sm">
{{ vm.figures | json}}
</pre>
    <pre class="well well-sm">
{{ vm.distances | json}}
</pre>-->

</div>